import speech_recognition

robot_ear = speech_recognition.Recognizer()
with speech_recognition.Microphone() as mic:
    print("robot: I'm Listening")
    audio = robot_ear.listen(mic)


print("robot:...")

try:
    you = robot_ear.recognize_google(audio)
except:
    you = ""
    
print("you: " + you)

if you == "":
    robot_brain = "I can't hear you, try again"
elif you == "what's your name":
    robot_brain = "my name is tesla and what's your name"
elif you ==   "today":
    robot_brain = "saturday"  
elif you ==  "tomorrow":
    robot_brain = "sunday"
elif you ==  "thank you":
    robot_brain = "good bye"
elif you ==  "how are you today":
    robot_brain = "I'm fine thank you and you "
elif you ==  "I'm good":
    robot_brain = "wow!"
elif you ==  "Kyle":
    robot_brain = "hi kyle"
print("robot: " + robot_brain)
import pyttsx3
robot_mouth = pyttsx3.init()
robot_mouth.say(robot_brain)
robot_mouth.runAndWait()
